{% extends 'base.html'%}

{% block content%}
  <div>
    <div style="text-align:center; max-width:500px; margin:4rem auto;">

        {% if target_user.profile %}
        <img src="{{ target_user.profile.image.url }}" style="height:20tem; width:20rem; border-radius:10rem; margin-top:1rem" >

      <h2 style="font-family: 'NanumSquareEB'">
        {{ target_user.profile.nickname }}
          {% if target_user == user %}
        <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}"> Edit </a>
      </h2>
        {% endif %}

         <h4>{{target_user.profile.message}}</h4>
        {% else %}
        {% if target_user == user %}
        <h2>
            <a href="{% url 'profileapp:create' %}">
            Create Profile
        </a>
        </h2>
        {% endif %}
        {% endif %}


        {% if target_user == user %}
        <a href="{% url 'accountapp:update' pk=user.pk %}">
            <p>
                Change Info
            </p>
        </a>

        <a href="{% url 'accountapp:delete' pk=user.pk %}">
            <p>
                Quit
            </p>
        </a>
        {% endif %}

    </div>
  </div>

{% endblock %}