header {
    margin: 2rem 0;
}

.header-container {
    text-align: center;
    margin-bottom: 2rem;
}
.header-title {
    font-family: 'Rowdies', cursive;
}

.footer-container {
    text-align: center; margin-top: 2rem;
}
.footer-nav{
    font-size: 1rem;
}
.footer-logo {
    margin-top: 3rem;
    font-family: 'Rowdies', cursive;
}

@media screen and (max-width: 500px) {
    html {
        font-size: 13px;
    }
}

