header {
    margin: 0 4rem;
}

.header-container {
    text-align: center;
    margin-bottom: 2rem;
}

.header-list a {
    margin:0 1rem;
}
.header-container a {
    text-decoration : none;
}
.header-title {
    font-family: 'Rowdies', cursive;
}

.footer-container {
    text-align: center; margin-top: 2rem;
}
.footer-nav{
    font-size: 1rem;
}
.footer-logo {
    margin-top: 3rem;
    font-family: 'Rowdies', cursive;
}

@media screen and (max-width: 500px) {
    html {
        font-size: 13px;
    }
}

a {
    color:black;
}
a:hover {
    color:black;
    text-decoration=none;
}
